// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;

//FONT COLORS
$first-font-color: #d6d6d6;
$nav-font-color: #d6d6d6;
$avatar-title: #c2ab2c;
$sidebar-section-title: #d6d6d6;
$footer-title: #949292;
$content-header-title: #949292;
$deco-color-content-headers: #c2ab2c;
$deco-color-content-headers_first: #a71b9b;
$deco-color-content-headers_second: #45b49c;
$deco-color-content-headers_last: #1d962d;
$deco-color-contentline-greeting: #a0a0a0;
$deco-color-contentline-text: #9e9d9d;
$contentline-linck-color: #1d962d;

//  COLORS
$first-page-color: #282c34;
$second-page-color: #21252b;
$nav-hover-color: #383a3e;
$deco-content-header-title: #c2ab2c;
$deco-inumerator-content: #535252;

//media
$mobile-bp-max: 767px;
$mobile-w: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;
