.certificate-galery {
  @media screen and (min-width: $tablet-bp-min) {
    padding: 0.625rem 0px 0.625rem 1.25rem;
  }
  & p {
    text-indent: 0em;
  }
}

.gallery-container {
  display: grid;
  grid-gap: 8px;
  background-color: #699b62;
  grid-template-areas:
    'one two three'
    'four two three'
    'four seven seven'
    'six six five';

  grid-template-columns: 25% 1fr 30%;
  grid-template-rows: 115px 78px 185px 165px;
}

.galery-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.galery-item {
  background-color: #699b62;

  transition-property: color;
  transition-duration: 0.3s;

  &:hover,
  :focus {
    animation: wobble-hor-bottom 0.8s both;
  }
  &.one {
    grid-area: one;
  }
  &.two {
    grid-area: two;
  }
  &.three {
    grid-area: three;
  }
  &.four {
    grid-area: four;
  }
  &.five {
    grid-area: five;
  }
  &.six {
    grid-area: six;
  }
  &.seven {
    grid-area: seven;
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-10px) rotate(-3deg);
  }
  30% {
    transform: translateX(5px) rotate(3deg);
  }
  45% {
    transform: translateX(-5px) rotate(-1.6deg);
  }
  60% {
    transform: translateX(3px) rotate(1.4deg);
  }
  75% {
    transform: translateX(-2px) rotate(-0.2deg);
  }
}
