$btn-bg-color: #751111;

.message {
  @media screen and (min-width: $tablet-bp-min) {
    padding: 0.625rem 0px 0.625rem 1.25rem;
  }
  & p {
    text-indent: 0em;
  }
}
.message-section_text {
  margin-bottom: 20px;
}

.form-message {
  display: flex;
  justify-content: flex-start;
  max-width: 400px;
  flex-wrap: wrap;
  margin: 0 auto 1.875rem;
  &_input {
    padding-left: 10px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    &::placeholder {
      font-size: 0.6rem;
      color: rgb(187, 187, 187);
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
  &_textarea {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    resize: none;
    &::placeholder {
      font-size: 0.6rem;
      color: rgb(187, 187, 187);
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
  &_button-submit {
    background-color: $btn-bg-color;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
  }
}

.message-result {
  @include font-settings(1rem, 1.2, 700, $form-result-message);
  text-align: center;
}
